<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf kanban opdracht Hamza Bachiri</title>

    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/fragments::bootstrapCssAndIcons"/>
    <!-- Background gradient-->
    <style th:include="fragments/fragments::backgroundGradient"/>
</head>
<body>

<div class="gradient-custom">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-3 text-start">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div th:if="${task.taskId == null}" align="center">
                                <h1 class="fw-bold mb-2 text-uppercase">New task</h1>
                            </div>
                            <div th:unless="${task.taskId == null}" align="center">
                                <h1 class="fw-bold mb-2 text-uppercase">Edit task</h1>
                            </div>
                            <form th:action="@{/saveTask}"
                                  th:object="${task}" , method="POST">
                                <div class="form-outline form-white mb-4">
                                    <input type="hidden" th:field="*{taskId}" th:value="${task.taskId}" class="form-control form-control-lg"/>
                                    <label class="form-label" for="typeTaskName">Name</label>
                                    <input type="text" th:field="*{name}" id="typeTaskName" class="form-control form-control-lg" />
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typeTaskDescription">Description</label>
                                    <textarea type="text" th:field="*{description}" rows="8" id="typeTaskDescription" class="form-control form-control-lg" />
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typeTaskAssignee">Assigned to</label>
                                    <input type="text" th:field="*{assignedTo}" id="typeTaskAssignee" class="form-control form-control-lg" />
                                </div>
                                <div align="center">
                                    <button type="submit" class="btn btn-outline-light btn-lg px-5">
                                        <i class="bi bi-save"></i> Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/fragments::Jquery"/>
</body>
</html>